[submodule "lib/openzeppelin-contracts"]
path = lib/openzeppelin-contracts
url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dao/dao/Openzeppelin-DAO"]
	path = dao/dao/Openzeppelin-DAO
	url = https://github.com/tamphill/openzeppelin_dao.git
