[submodule "crypto/ECDSA-signature/secp256k1-example-rs"]
	path = crypto/ECDSA-signature/secp256k1-example-rs
	url = https://github.com/leeduckgo/secp256k1-example-rs
[submodule "crypto/ECDSA-signature/eth_wallet"]
	path = crypto/ECDSA-signature/eth_wallet
	url = https://github.com/leeduckgo/eth_wallet
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
