*/node_modules
*/sk.txt
*/package-lock.json
# dependencies
/node_modules
/.pnp
.pnp.js
*/cache
*/*/node_modules
*/yarn.lock

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
