
# these files are outputs by circom compile
circuit_cpp/
circuit_js/
circuit.circom
circuit.r1cs
circuit.sym
powersOfTau28_hez_final_10.ptau
circuit_0000.zkey
verification_key.json
input.json
witness.wtns
witness.json
proof.json
public.json
verifier.sol
circuit_final.zkey