*/node_modules
*/sk.txt
*/sk*.txt
*/sk*.json
*/package-lock.json
# dependencies
/node_modules
/.pnp
.pnp.js
*/cache
**/database.db
**/contract-address.json
**/node_modules
**/*.bytecode.js
**/*.abi.js
**/*.address.js
*/yarn.lock
*/artifacts
*/cache

# testing
coverage

# production
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
