### Salt used to deploy the contracts. Recommended to use the same salt across different chains.
CREATE2_SALT=

### The owner of the SP1 Verifier Gateway. This is the account that will be able to add and freeze routes.
OWNER=

### The chains to deploy to, specified by chain name (e.g. CHAINS=mainnet,sepolia,arbitrum_sepolia)
CHAINS=

### RPCs for each chain ID
RPC_MAINNET=
RPC_SEPOLIA=
RPC_HOLESKY=
RPC_ARBITRUM=
RPC_ARBITRUM_SEPOLIA=
RPC_BASE=
RPC_BASE_SEPOLIA=
RPC_SCROLL=
RPC_SCROLL_SEPOLIA=

# Etherscan API keys for each chain ID
ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_SEPOLIA=
ETHERSCAN_API_KEY_HOLESKY=
ETHERSCAN_API_KEY_ARBITRUM=
ETHERSCAN_API_KEY_ARBITRUM_SEPOLIA=
ETHERSCAN_API_KEY_BASE=
ETHERSCAN_API_KEY_BASE_SEPOLIA=
ETHERSCAN_API_KEY_SCROLL=
ETHERSCAN_API_KEY_SCROLL_SEPOLIA=

# Etherscan API URLs for each chain ID
ETHERSCAN_API_URL_MAINNET=https://api.etherscan.io/api
ETHERSCAN_API_URL_HOLESKY=https://api-holesky.etherscan.io/api
ETHERSCAN_API_URL_SEPOLIA=https://api-sepolia.etherscan.io/api
ETHERSCAN_API_URL_ARBITRUM=https://api.arbiscan.io/api
ETHERSCAN_API_URL_ARBITRUM_SEPOLIA=https://api-sepolia.arbiscan.io/api
ETHERSCAN_API_URL_BASE=https://api.basescan.org/api
ETHERSCAN_API_URL_BASE_SEPOLIA=https://api-sepolia.basescan.org/api
ETHERSCAN_API_URL_SCROLL=https://api.scrollscan.com/api
ETHERSCAN_API_URL_SCROLL_SEPOLIA=https://api-sepolia.scrollscan.com/api